<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>FlySim - Azure IoT Developer Kit Project</title>
	  <link rel="stylesheet" href="{{ relative }}style.css">
   </head>
   <body>
      <div class="container">
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ relative }}README.htm">Home</a>
              <a class="navbar-brand" href="{{ relative }}/Labs/flysimexpress-00.htm">Lab Intro</a>
              <a class="navbar-brand" href="{{ relative }}/Labs/flysimexpress-01.htm">Lab 01</a>
              <a class="navbar-brand" href="{{ relative }}/Labs/flysimexpress-02.htm">Lab 02</a>
              <a class="navbar-brand" href="{{ relative }}/Labs/flysimexpress-03.htm">Lab 03</a>
              <a class="navbar-brand" href="{{ relative }}/Labs/flysimexpress-04.htm">Lab 04</a>
              <a class="navbar-brand" href="{{ relative }}/Labs/flysimexpress-presenter.htm">Presenter Lab</a>
            </div>
        </header>
        {{ content }}
      </div>
  </body>
</html>
